*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: Arial, Helvetica, sans-serif;
    color: #23272a;
}

header{
    background-color: #255ee9;
    padding-top: 1rem;
}

header nav{
    margin-bottom: 1rem;
}

header nav .container{
    display: flex;
}

.container{
    max-width: 980px;
    width: 100%;
    margin: auto;
    align-items: center;
}

.bg-grey{
    background-color: #f6f6f6;    
    margin-top: -10px;
}

.wave-1hkxOo{
    color: #f6f6f6;    
}

.rotate{
    rotate: 180deg;   
}



.nav-links, 
.nav-logo,
.nav-login{
    padding: .5rem;
}
.nav-logo,
.nav-login{
    min-width: 150px;
}
.nav-links{
    flex-grow: 1;
}

.nav-links ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-links li{
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.9rem;
}

.nav-links ul a{
    display: inline-block;
    padding: 0 .3rem;
    text-decoration: none;
    color: white;
}
.nav-links ul a:hover {
    color: #23272a;
    font-weight: bold;
    opacity: 0.7;
}

.btn{
    border-radius: 15px;
    padding: 0.6rem 0.8rem;
    border: none;
}

.btn:hover {
    opacity: 0.7;
}

.btn-small{
    height: 30px;
    line-height: 10px;
    margin-left: 50px;
    min-width: 60px;
}

.hero-section{
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
}

.hero-section .container{
    max-width: 680px;
    padding: 50px;
}

.container h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 1.8rem;
    color: #ffffff;
}
.container p{
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    padding-bottom: 5px;

}
.btn-hero-section{
    text-align: center;
    padding: 15px;
}

.btn-big-black{
    background-color: #23272a;
    color: white;
    height: 40px;
    font-size: 15px;
}
.btn-big-white{
    height: 40px;
    font-size: 15px;
}

section{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.row{
    display: flex;
}

.col-small h2{
    font-size: 45px;
    padding-top: 40px;
}

.col-small p{
    text-align: left;
    color: #23272a;
    padding-top: 40px;
    line-height: 1.5em;
}

.col-large{
    flex-grow: 1;
}

.last-section-main{
    padding: 10px;
}

.last-section-main h2{
    font-size: 45px;
    text-align: center;
    padding-bottom: 20px;
}

.last-section-main p{
    color: #23272a;
    line-height: 1.5em;
}

.last-section-main img{
    width: 100%;
}

.last-section-main h3{
    font-size: 25px;
    color: #23272a;
    text-align: center;
    padding-bottom: 20px;
    background-image: url(../img/stars.svg);
    background-position: center top;
    background-repeat: no-repeat;
    padding-top: 10px;

}
.last-section-main-btn{
    text-align: center;
}

.btn-violet{
    background-color: #8ea1e1;
    color: white;
    height: 30px;
    line-height: 10px;
    font-size: 14px;
}

footer{
    background-color:#23272a ;
    padding-top: 6px;
}

.container .row{
    margin-top: 40px;
}

.col h4{
    color: #7289da;
    font-size: 25px;
    padding-bottom: 15px;
}

.im-ita-footer{
    width: 10%;
}

.ita{
    vertical-align: text-bottom;
    color: white;
}

.fa {
    font-size: 25px;
    width: 35px;
    text-decoration: none;
    padding-top: 20px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    color: white;
}

.fa-twitter {
    color: white;
}

.fa-youtube {
    color: white;
}

.fa-instagram {
    color: white;
}

footer .col{
    flex-grow: 1;
}

footer .col-large{
    width: 15%;
    border-color: black;
}

.col ul{
    list-style: none;
}

.col ul a{
    display: inline-block;
    padding: 0 .3rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 13px;
}

.col .violet{
    color: #7289da;
}

footer hr{
    margin-top: 1.4rem;
    margin-bottom: 1rem;
    border-color: #48557e;
    width: 980px;
}
.footer-hr{
    max-width: 980px;
    margin: auto;
}

.secondary-footer{
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.footer-logo,
.footer-btn{
    padding: 0.5rem;
}

